body {
    background-color: rgb(246, 234, 218);
}

.colorSelection {
    height: 50px;
    width: 120px;
    text-align: center;
    border: 1px solid rgb(67, 59, 48);
    border-radius: 10px;
    background-color: rgb(246, 234, 218);
    font-size: 16px;
    color: rgb(67, 59, 48);
    margin-left: 50px;
    cursor: pointer;
    opacity: 0.5;
}

.colorSelection:hover {
    opacity: 1;
    transition: 0.5s;
}

.main {
    display: flex;
    justify-content: center;
}

.listAndBar {
    display: flex;
    margin-top: 20px;
}

.list {
    border: 1px solid rgb(67, 59, 48);
    border-radius: 10px;
    height: 900px;
    width: 600px;
    background-color: rgb(253, 249, 244);
    color: rgb(67, 59, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 7px rgb(67, 59, 48);
}

.list p {
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.optionBar {
    /* height: 900px; */
    /* width: 400px; */
}

.addElement {
    border: 1px solid rgb(67, 59, 48);
    border-radius: 10px;
    height: 100px;
    width: 300px;
    background-color: rgb(253, 249, 244);
    margin-left: 50px;
    margin-top: 100px;
}

.addButton {
    border: none;
    border-radius: 10px;
    background-color: rgb(67, 59, 48);
    height: 50px;
    width: 120px;
    color: rgb(253, 249, 244);
    font-size: 16px;
    opacity: 0.7;
    margin-left: 140px;
    margin-top: 10px;
    cursor: pointer;
}

.addButton:hover {
    opacity: 1;
    transition: 0.5s;
}

.addButton:active {
    background-color: rgb(45, 39, 30);
}

.tip {
    text-align: center;
    color: rgb(67, 59, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40px;    
}